<!--<!DOCTYPE html>-->
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= title%></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper" align="center">
		<%= render 'layouts/topbar'%>
		<%= render 'layouts/toplinks'%>
		<%= render 'layouts/header'%>
		<%= render 'layouts/bottombody'%>
		<%= render 'layouts/bottomcurve'%>
		<%= render 'layouts/footer' %>
    </div>
</body>
</html>

